<%= button_to "Return to Discover Page", "/users/#{@user.id}/discover", method: :get %>
<%= button_to "Create a Viewing Party", "/users/#{@user.id}/movies/#{@movie.db_id}/viewing-party/new", method: :get  %>

<h1>Movie Title: <%= @movie.title %></h1>
<p>Runtime: <%= @movie.runtime %></p>
<p>Vote Average: <%= @movie.vote_average %></p>

<div id="genres">
  <p>Genres:</p>
  <% @genres.each do |genre| %>
    <p><%= genre[:name] %>, (<%= genre[:id] %>)</p>
  <% end %>
</div>

<p>Summary: <%= @movie.overview %></p>

<h2>Cast:</h2>
<% @cast.each do |cast_member| %>
  <p><%= cast_member.name %> as <%= cast_member.character %></p>
<% end %>

<h2><%= @reviews.count %> Reviews</h2>
<% @reviews.each do |movie_review| %>
  <p>Author: <%= movie_review.author %> </p>
  <p> <%= movie_review.content %> </p>
<% end %>
