<h1><%= @user.name %>'s Dashboard</h1>
<p><%= @user.email %></p>

<p><%= button_to "Discover Movies", "/discover", method: :get %></p>

<div id="invited-parties">
  <h3>My Invited Parties</h3>
  <% @user.invites.each do |party| %>
    <div id="party-<%= party.id %>">
      <img src=" <%= "https://image.tmdb.org/t/p/original#{party.movie(party.movie_id).poster_path}" %>  " alt="Not Found" widh="150" height="250">
      <p><%= link_to "#{party.movie(party.movie_id).title}", "/movies/#{party.movie_id}" %></p>
      <p><%= party.date %></p>
      <p><%= party.start_time %></p>
      <p>Party Host: <%= party.host.name %></p>
      <% party.attendees.each do |attendee| %>
        <% if attendee == @user %>
          <strong>Attendee: <%= attendee.name %></strong>
        <% else %>
          <p>Attendee: <%= attendee.name %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="created-parties">
  <h3>My Created Parties</h3>
  <% @user.hosting.each do |party| %>
    <div id="party-<%= party.id %>">
      <img src=" <%= "https://image.tmdb.org/t/p/original#{party.movie(party.movie_id).poster_path}" %>  " alt="Not Found" widh="150" height="250">
      <p><%= link_to "#{party.movie(party.movie_id).title}", "/users/#{@user.id}/movies/#{party.movie_id}" %></p>
      <p><%= party.date %></p>
      <p><%= party.start_time %></p>
      <p>Party Host: <%= party.host.name %></p>
      <% party.attendees.each do |attendee| %>
        <p>Attendee: <%= attendee.name %></p>
      <% end %>
    </div>
  <% end %>
</div>
