<p><%= link_to "Home Page", root_path %></p>
<h1>Viewing Party Lite</h1>

<% if session[:user_id] %>
  <p><%= link_to "Log Out", "/logout", method: :delete %></p>
<% else %>
  <p><%= button_to "Create User", "/register", method: :get %></p>
  <p><%= link_to "Log In", "/login", method: :get %></p>
<% end %>

<% if session[:user_id] %>
  <% @users.each do |user| %>
    <p><%= user.email %></p>
  <% end %>
<% end %>
